# Mac specific
*.DS_Store

# Python
*/__pycache__/*
*.pyc

# tex files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb

# jupyter notebooks
*.ipynb_checkpoints/

# pycharm
.idea

#LibraryIO data
data/Libraries/*